<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-sixth-desktop is-one-sixth-tablet is-one-sixth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>Newly graduated data analyst with a professional background in product management and an educational background in electrical engineering and mathematics. A career of problem-solving; demonstrating technical proficiency, effective interpersonal skills, and a willingness to adapt and take initiative. Skilled professional in R, SQL, and Tableau; capable of obtaining, cleaning, visualizing, and generating machine-learning models with data. Motivated to apply and expand data analysis skill set.</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a id="contact-button" 
                                href="mailto:{{site.email}}"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths"
                                target="_blank">
                                <i class="fas fa-envelope">
                                </i>
                                Contact Me
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projects</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/assets/ConnorBailey_Resume.pdf" 
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined"
                                download="ConnorBailey_Resume">Resume</a>
                        </div>
                        <div>
                            <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" 
                            target="_blank" 
                            class="has-text-black">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        </div>
                        <div> 
                            <a href="http://www.github.com/{{site.github_username}}" 
                                target="_blank" 
                                class="has-text-black">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
