<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>Hello World! I am a data analyst with a background in applied economics and eletrical engineering. I obtained my B.S. in Electrical Engineering from the University of Connecticutt in 2016 and worked in product development until 2021. I decided to change the trajectory of my career by going back to school for economics and data analysis. I enrolled at Boston College in 2022, finishing in 2023 with an M.S in Applied Economics and a Data Analysis Certificate. I am currently looking to apply my talents in data analysis!</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Projects</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>